@import 'compass/css3';

// public内の特定のディレクトリしかKossyでは静的に読み取れない？
@include font-face("Glyphicons Halflings", url("/img/glyphicons-halflings-regular.woff"));

body {
}

ul.panel-group {
  margin: 0;
  padding: 0;
}

nav.navbar.navbar-default {
  background-color: #1abc9c;
  border-width: 0px;
  @include border-radius(0px);
  
  //a.navbar-brand, a#show-done-tasks
  a {
    color: rgba(255, 255, 255, 0.9);
    
    &:hover {
      color: #16a085;
      color: rgba(255, 255, 255, 1);
    }
  }
  
  a#create-new-task {
    padding: 8px 15px;
    margin: 6px 0 5px;
    
    background-color: #16a085;
  }
  
}

#todo-form {
  > div {
    margin-bottom: 20px;
  }
  .panel-group {
    margin: 10px 0;
    .panel {
      
      .panel-heading {
        padding: 5px 10px;
        h4 {
          font-size: 0.9em;
        }
      }
      
    }
  }
}

#content {
  margin-bottom: 20px;
  
  #todo-accordion {
    .panel {
      @include border-radius(0px);
      margin: 0;
    }
    .panel-heading {
      background-color: #DFE;
      @include border-radius(0px);
    }
    .overdue {
      background-color: #F99;
    }
  }
}

